
@{
	ViewBag.Title = "Page404";
	Layout = null;
}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link href="~/Content/Tema/Shop/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/libs/css/style.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/charts/chartist-bundle/chartist.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/charts/morris-bundle/morris.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/charts/c3charts/c3.css">
	<link rel="stylesheet" href="~/Content/Tema/Shop/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

	<script src="~/Content/Tema/Shop/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
	<title>ShopStore</title>
</head>
<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper p-0">
		<div class="bg-light text-center">
			<div class="container">
				<div class="row">
					<div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
						<div class="error-section">
							<img src="https://www.vargonen.com/blog/wp-content/uploads/2020/03/404-not-found-sayfa-hatasi.jpg" alt="" class="img-fluid">
							<div class="error-section-content">
								<h1 class="display-3">Sayfa Bulunamadı</h1>
								<p> Üzgünüz aradağınız sayfa burada değil!!!</p>
								<a href="/Home/Index" class="btn btn-secondary btn-lg">Ana Sayfaya Dön</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<script src="~/Content/Tema/Shop/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
	<!-- bootstap bundle js -->
	<script src="~/Content/Tema/Shop/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
	<!-- slimscroll js -->
	<script src="~/Content/Tema/Shop/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
	<!-- main js -->
	<script src="~/Content/Tema/Shop/assets/libs/js/main-js.js"></script>
	<!-- chart chartist js -->
	<script src="~/Content/Tema/Shop/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
	<!-- sparkline js -->
	<script src="~/Content/Tema/Shop/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
	<!-- morris js -->
	<script src="~/Content/Tema/Shop/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
	<script src="~/Content/Tema/Shop/assets/vendor/charts/morris-bundle/morris.js"></script>
	<!-- chart c3 js -->
	<script src="~/Content/Tema/Shop/assets/vendor/charts/c3charts/c3.min.js"></script>
	<script src="~/Content/Tema/Shop/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
	<script src="~/Content/Tema/Shop/assets/vendor/charts/c3charts/C3chartjs.js"></script>
	<script src="~/Content/Tema/Shop/assets/libs/js/dashboard-ecommerce.js"></script>
</body>
</html>
