<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>ShopStore</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/Content/Tema/Homepage/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/Content/Tema/Homepage/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/Tema/Homepage/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/Content/Tema/Homepage/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/Content/Tema/Homepage/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/Content/Tema/Homepage/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><h3 class="text-white">SHOPSTORE</h3></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="/Member/MemberRegister/">Kayıt Ol</a></li>
					<li><a href="/Login/MemberLogin/">Giriş Yap</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="#">Ana Sayfa</a></li>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Ürünler</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	@RenderBody()
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Hakkımızda</h3>
							<p>2021 yılında yayımlanan online alışveriş sitemiz siz değerli müşterileri bekliyor.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>Ankara/Gölbaşı</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Kategoriler</h3>
							<ul class="footer-links">
								<li><a href="#">Telefon</a></li>
								<li><a href="#">Laptop</a></li>
								<li><a href="#">Akılı Saat</a></li>
								<li><a href="#">Kamera</a></li>
								<li><a href="#">Televizyon</a></li>
								<li><a href="#">Aksesuar</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Bizi Takip Edin</h3>
							<ul class="footer-links">
								<li>
									<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->
		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="~/Content/Tema/Homepage/js/jquery.min.js"></script>
	<script src="~/Content/Tema/Homepage/js/bootstrap.min.js"></script>
	<script src="~/Content/Tema/Homepage/js/slick.min.js"></script>
	<script src="~/Content/Tema/Homepage/js/nouislider.min.js"></script>
	<script src="~/Content/Tema/Homepage/js/jquery.zoom.min.js"></script>
	<script src="~/Content/Tema/Homepage/js/main.js"></script>

</body>
</html>
