@using Entities.Concrete
@model List<Category>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
	<h5 class="card-header">Kategoriler</h5>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Kategori</th>
					<th>Durum</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in Model)
				{
					<tr>
						<td>@category.CategoryId</td>
						<td>@category.CategoryName</td>
						<td>
							@if (category.IsActive)
							{

								<span class="badge badge-pill bg-success-light mr-1">Aktif</span>
							}
							else
							{
								<span class="badge badge-pill bg-danger-light mr-1">Pasif</span>
							}
						</td>
						<td>
							<div class="dropdown">
								<button type="button" class="btn btn-sm dropdown-toggle hide-arrow" data-toggle="dropdown">
									<i data-feather="more-vertical"></i>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/AdminCategory/UpdateCategory/@category.CategoryId">
										<i class="far fa-edit"></i>
										<span>Edit</span>
									</a>
									@*<a class="dropdown-item" href="javascript:void(0);">
										<i class=" fas fa-trash"></i>
										<span>Delete</span>
									</a>*@
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>

